{% extends 'base.html' %}

{% block content %}

{% if request.user.online_wallet >= 0 %}
    {{ request.user }}  {{ request.user.online_wallet }}

<div>
    <a href="{% url 'logout' %}">Logout</a>
</div>

{% else %}
     <a href="{% url 'login' %}">Login</a>

{% endif %}


<div>
    {% for obj in object_list %}
    <div>
        Наименование {{ obj.product_name }}
        Описание {{ obj.product_description }}
        Количество {{ obj.product_count }}
        Цена {{ obj.product_price }}
        {{ obj.image }}
        {% if request.user.online_wallet > 0 %}
        <form method="post" action="{% url 'product-buy' %}">
            {% csrf_token %}
            {{ product_buy_form.number_of_product }}
            <input type="hidden" name="product" value={{ obj.pk }}>
            <input type="submit" value="Buy">
        </form>
        {% endif %}


    </div>
    {% endfor %}
</div>

{% endblock %}