{% extends 'base.html' %}

{% block content %}
   <div class="header">
        <div class="header-left">
            <div>{{ request.user }}  <strong>{{ request.user.online_wallet }}</strong></div>
        </div>
        <div class="header-right">
            <ul class="menu">
                <li class="menu-item">
                    <a class="home-link" href="{% url 'index' %}">Back to home</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
   </div>
    <h2>My orders</h2>
    <div>
        {% for obj in object_list %}
        <div class="product-item">
            <div class="product-fields">
                <div class="product-field">
                    <span class="product-field-name">Наименование:</span>
                    <span class="product-field-description">{{ obj.product.product_name }}</span>
                </div>
                <div class="product-field">
                    <span class="product-field-name">Описание:</span>
                    <span class="product-field-description">{{ obj.product.product_description }}</span>
                </div>
                <div class="product-field">
                    <span class="product-field-name">Количество:</span>
                    <span class="product-field-description">{{ obj.product.product_count }}</span>
                </div>
                <div class="product-field">
                    <span class="product-field-name">Цена:</span>
                    <span class="product-field-description">{{ obj.product.product_price }}</span>
                </div>
            </div>
            <form method="post" action="{% url 'order-return' %}">
                {% csrf_token %}
                <input type="hidden" name="order" value={{ obj.pk }}>
                <input type="submit" value="OrderReturn">
                {% if error_text and order_id == obj.pk %}
                <div style="color: red; font-size: 11px; margin-top: 5px;">{{ error_text }}</div>{% endif %}
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}

