{% extends 'base.html' %}

{% block content %}
<div class="header">
    <div class="header-left">
        <div>{{ request.user }} <strong> {{ request.user.online_wallet }}</strong></div>
    </div>
    <div class="header-right">
        <ul class="menu">
             <li class="menu-item">
                <a href="{% url 'order-admin' %}">Purchase confirm</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</div>
<h2>My products:</h2>
<div class="products">
    {% for obj in object_list %}
    <div class="product-item">
        <div class="product-fields">
            <div class="product-field">
                <span class="product-field-name">Наименование:</span>
                <span class="product-field-description">{{ obj.product_name }}</span>
            </div>
            <div class="product-field">
                <span class="product-field-name">Описание:</span>
                <span class="product-field-description">{{ obj.product_description }}</span>
            </div>
            <div class="product-field">
                <span class="product-field-name">Количество:</span>
                <span class="product-field-description">{{ obj.product_count }}</span>
            </div>
            <div class="product-field">
                <span class="product-field-name">Цена:</span>
                <span class="product-field-description">{{ obj.product_price }}</span>
            </div>
        </div>
        <form method="post" action="{% url 'product-update' obj.pk %}">
            {% csrf_token %}
            <input type="submit" value="Update">
        </form>
    </div>
    {% endfor %}
</div>
<h2>Add products:</h2>
<form method="post" action="{% url 'product-create' %}">
    {% csrf_token %}
    {{ create_form }}
    <input type="submit" value="Create">
</form>
{% endblock %}

